{% extends "/user/loggedin_base.jinja" %} {% block title %}CID - Welcome{% endblock %} {% block
content%}
<div class="row">
  <h4 class="text-center mb-4">Your information</h4>
</div>
<div class="row">
  <div class="d-flex justify-content-center align-items-center">
    <div class="col-10 col-sm-8 col-md-6 col-lg-4">
    <table class="table">
      <tr>
        <td>Name</td>
        <td>
          {{ session["user"]["first_name"] }}{{ session["user"]["last_name"] }}
        </td>
      </tr>
      <tr>
        <td>Email</td>
        <td>{{ session["user"]["email"] }}</td>
      </tr>
    </table>
    </div>

  </div>
</div>
{% endblock %}
