{% extends "/base.jinja" %} {% block title %}CID Admin - Login/Register{% endblock %} {% block content
%}
<div class="row">
  <div class="d-flex justify-content-center align-items-center">
    <form
      class="admin-login-form border rounded p-2 my-5 col-10 col-sm-8 col-md-6 col-lg-4 shadow"
      action="/admin/login/submit"
      method="post"
    >
      <h3 class="mt-2 mb-3">Admin Login</h3>
      <div class="mb-2 form-floating">
        <input type="email" name="email" id="email" class="form-control" placeholder="placeholder" />
        <label for="email" class="form-label mb-0" >Email</label>
      </div>
      <div class="mb-5 form-floating">
        <input
          type="password"
          name="password"
          id="password"
          class="form-control"
          placeholder="placeholder"
        />
        <label for="password" class="form-label mb-0">Password</label>
      <p class="m-2"><a href="/admin/register">Register for an admin account here</a></p>
      </div>
      {% with messages=get_flashed_messages(category_filter=["login_messages"])
      %} {% for msg in messages %}
      <small class="text-danger">{{ msg }}</small
      ><br />
      {% endfor %} {% endwith %}
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
</div>
{% endblock %}
