{% extends "loggedin_base.jinja" %}
{% block toptext %}CID - Administration{% endblock  %}
{% block navlinks %}
<a href="/admin/apps/add" class="nav-link active">Add App</a>
{% endblock  %}

{% block content %}
<div class="row">
    <div class="col-12 col-md-6">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Callback</th>
                    <th>Key</th>
                </tr>
            </thead>
            <tbody>
            {% if apps %}
                {% for app in apps %}
                    <tr>
                        <td>{{app.id}}</td>
                        <td>{{app.name}}</td>
                        <td>{{app.callback}}</td>
                        <td>{{app.key}}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>No Apps/Websites</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock  %}