{% extends "loggedin_base.jinja" %}
{% block toptext %}PyPies by {{session["first_name"]}}{% endblock  %}
{% block navlinks %}
<a href="/pies" class="nav-link active">Pie Derby</a>
{% endblock  %}

{% block content %}
<div class="row">
    <div class="col-12 col-md-6">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% if pies %}
                {% for pie in pies %}
                    <tr>
                        <td>{{pie.name}}</td>
                        <td>
                            <a href="/edit/{{pie.pie_id}}">edit</a>
                            <a href="/exterminate/{{pie.pie_id}}">delete</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>No Pies</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    <div class="col-12 col-md-6">
        <form class="border border-secondary rounded p-2" action="/create_pie/submit" method="post">
			<h3>Create New PyPie</h3>
			<div class="mb-2">
				<label for="name" class="form-label mb-0">Name</label>
				<input type="text" name="name" id="name" class="form-control">
                {% with messages=get_flashed_messages(category_filter=["pie_error_name"]) %}
                    {% for msg in messages %}
                        <small class="text-danger">{{msg}}</small><br>
                    {% endfor %}
                {% endwith %}
			</div>
			<div class="mb-2">
				<label for="filling" class="form-label mb-0">Filling</label>
				<input type="text" name="filling" id="filling" class="form-control">
                {% with messages=get_flashed_messages(category_filter=["pie_error_filling"]) %}
                    {% for msg in messages %}
                        <small class="text-danger">{{msg}}</small><br>
                    {% endfor %}
                {% endwith %}
			</div>
			<div class="mb-2">
				<label for="crust" class="form-label mb-0">crust</label>
				<input type="text" name="crust" id="crust" class="form-control">
                {% with messages=get_flashed_messages(category_filter=["pie_error_crust"]) %}
                    {% for msg in messages %}
                        <small class="text-danger">{{msg}}</small><br>
                    {% endfor %}
                {% endwith %}
			</div>
			{% with messages=get_flashed_messages(category_filter=["pie_messages"]) %}
					{% for msg in messages %}
						<small class="text-danger">{{msg}}</small><br>
					{% endfor %}
			{% endwith %}
			<button type="submit" class="btn btn-primary">Add Pie</button>
		</form>
    </div>
</div>
{% endblock  %}