{% extends "base.jinja" %}
{% block title %}Login{% endblock %}
{% block content%}
<div class="row">
  <h2 class="text-center mb-4">Welcome!</h2>
</div>
<div class="row">
  <div class="col-12 col-md-6 ps-md-1 ps-lg-5">
    <div><a class="btn btn-primary" href="/cid">Continue</a></div>
  </div>
</div>
{% endblock %}
