{% extends "base.jinja" %} {% block title %}CID - Welcome{% endblock %} {% block
content%}
<div class="row">
  <h2 class="text-center mb-4">
    Welcome, {{ session["user"]["first_name"] }}!
  </h2>
</div>
<div class="row">
  <div class="col-12 col-md-6 ps-md-1 ps-lg-5">
    <h4 class="text-center mb-4">Your information</h4>
    <table class="table">
      <tr>
        <td>Name</td>
        <td>
          {{ session["user"]["first_name"] }}{{ session["user"]["last_name"] }}
        </td>
      </tr>
      <tr>
        <td>Email</td>
        <td>{{ session["user"]["email"] }}</td>
      </tr>
    </table>
    <div><a class="btn btn-danger" href="/logout">Logout</a></div>
  </div>
</div>
{% endblock %}
